﻿@{ 
    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    UPC.web.Models.Categoria objCategoria = (UPC.web.Models.Categoria)Session["objCategoria"];
    String strUsuario = String.Empty;
    String strCategoria = String.Empty;
    string objImagenUsuario = Session["objImagenUsuario"].ToString();
    if (objUsuario != null)
    {
        strUsuario = objUsuario.nombre + " " + objUsuario.apellidos;
        strCategoria = objCategoria.nombre_Categoria;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/dist/css/AdminLTE.min.css")">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/dist/css/skins/_all-skins.min.css")">
    <!-- iCheck -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/iCheck/flat/blue.css")">
    <!-- Morris chart -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/morris/morris.css")">
    <!-- jvectormap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.css")">
    <!-- Date Picker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/datepicker/datepicker3.css")">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/daterangepicker/daterangepicker.css")">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>UPC</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>@strCategoria</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->                
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>                
                    <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Content(objImagenUsuario)" class="user-image" alt="User Image">
                                <span class="hidden-xs">@strUsuario</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@Url.Content(objImagenUsuario)" class="img-circle" alt="User Image">
                                    <p>
                                        @strUsuario - @strCategoria
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="col-md-2 col-md-offset-3">
                                        <a href="@Url.Action("CerrarSesion")" class="btn btn-default btn-flat">Cerrar Sesion</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        @*<li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>*@
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Content(objImagenUsuario)" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@strUsuario</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <br />
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATIO</li>
                   
                        @if (objUsuario.categoriaID == 1)
                        {
                            <li class="treeview">
                                <a href="@Url.Action("Dashboard_EMP", new { id = objUsuario.usuarioID })">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("AddCorreo")">
                                    <i class="ion ion-email-unread"></i> <span>Nuevo Correro</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("ListarCUmpleaños")">
                                    <i class="fa  fa-birthday-cake"></i> <span>Cumpleaños</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("PuntosAcumulados", new { id = objUsuario.usuarioID })">
                                    <i class="ion ion-load-d"></i> <span>Historial de trabajos</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("ListarAnuncios_EMP", new { id = objUsuario.usuarioID })">
                                    <i class="ion ion-ios-paper-outline"></i> <span>Comunicacion Interna</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("ListarEventos_EMP")">
                                    <i class="ion ion-calendar"></i> <span>Comunicacion Externa</span>
                                </a>
                            </li>

                        }
                        else if (objUsuario.categoriaID == 2)
                        {
                            <li class="treeview">
                                <a href="@Url.Action("Dashboard_SUP", new { id = objUsuario.usuarioID })">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("ListarInformes_labor", new { id = objUsuario.usuarioID })">
                                    <i class="ion ion-android-clipboard"></i> <span>Listar Informes Labor Creados</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("ListarEmpl_SUP")">
                                    <i class="ion ion-android-people"></i> <span>Listar Empleados</span>
                                </a>
                            </li>
                        }
                        else if (objUsuario.categoriaID == 3)
                        {
                            <li class="treeview">
                                <a href="@Url.Action("Dashboard_PRO", new { id = objUsuario.usuarioID })">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("ListarEmpl_Pro")">
                                    <i class="ion ion-cube"></i> <span>Nuevo Informe 360</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("ListarInformes", new { id = objUsuario.usuarioID })">
                                    <i class="ion ion-android-clipboard"></i> <span>Informes creados</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="treeview">
                                <a href="@Url.Action("Dashboard_ADM")">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("AddEditTrabajador")">
                                    <i class="ion ion-android-person-add"></i> <span>Agregar Trabajador</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="ion ion-person-stalker"></i>
                                    <span>Trabajadores</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("ListarEmpl_ADM")"><i class="fa fa-circle-o"></i> Listar empleados</a></li>
                                    <li><a href="@Url.Action("ListarSup_ADM")"><i class="fa fa-circle-o"></i>  Listar supervisores</a></li>
                                    <li><a href="@Url.Action("ListarPro_ADM")"><i class="fa fa-circle-o"></i>  Listar proveedores</a></li>
                                    <li><a href="@Url.Action("ListarAdm_ADM")"><i class="fa fa-circle-o"></i>  Listar administradores</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-files-o"></i>
                                    <span>Reportes</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Reporte_Empleados_ADM")"><i class="fa fa-circle-o"></i>Desempeño de los Empleados</a></li>
                                    <li><a href="@Url.Action("Reporte_Supervisor_ADM")"><i class="fa fa-circle-o"></i>Desempeño de los Supervisores</a></li>
                                    <li><a href="@Url.Action("Reporte_Proveedor_ADM")"><i class="fa fa-circle-o"></i>Desempeño de los Proveedores</a></li>                                  
                                </ul>
                            </li>
                        }       
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Subtitle</small>
                </h1>
                @if (IsSectionDefined("Breadcrumbs"))
                {
                    if (objUsuario.categoriaID == 1)
                    {
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard_EMP", new { id = objUsuario.usuarioID })"><i class="fa fa-home"></i> Inicio</a></li>
                            @RenderSection("Breadcrumbs", false)
                            <li class="active">@ViewBag.Subtitle</li>
                        </ol>
                    }
                    else if (objUsuario.categoriaID == 2)
                    {
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard_SUP", new { id = objUsuario.usuarioID })"><i class="fa fa-home"></i> Inicio</a></li>
                            @RenderSection("Breadcrumbs", false)
                            <li class="active">@ViewBag.Subtitle</li>
                        </ol>
                    }
                    else if (objUsuario.categoriaID == 3)
                    {
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard_PRO" , new { id = objUsuario.usuarioID })"><i class="fa fa-home"></i> Inicio</a></li>
                            @RenderSection("Breadcrumbs", false)
                            <li class="active">@ViewBag.Subtitle</li>
                        </ol>
                    }
                    else if (objUsuario.categoriaID == 4)
                    {
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard_ADM")"><i class="fa fa-home"></i> Inicio</a></li>
                            @RenderSection("Breadcrumbs", false)
                            <li class="active">@ViewBag.Subtitle</li>
                        </ol>
                    }
                }
            </section>
            @if (TempData["Mensaje"] != null)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>@TempData["Mensaje"].ToString()
                        </div>
                    </div>
                </div>
            }
            <!-- Main content -->
            @RenderBody();
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.8
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
       
       
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script src="@Url.Content("~/Content/plugins/jQuery/jquery-2.2.3.min.js")"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
  $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.6 -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="@Url.Content("~/Content/plugins/morris/morris.min.js")"></script>
    <!-- Sparkline -->
    <script src="@Url.Content("~/Content/plugins/sparkline/jquery.sparkline.min.js")"></script>
    <!-- Extras -->
    <script src="@Url.Content("~/Content/plugins/jQuery/jquery-2.2.3.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/chartjs/Chart.min.js")"></script>
  
    <!-- jvectormap -->
    <script src="@Url.Content("~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js")"></script>
    <!-- jQuery Knob Chart -->
    <script src="@Url.Content("~/Content/plugins/knob/jquery.knob.js")"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="@Url.Content("~/Content/plugins/daterangepicker/daterangepicker.js")"></script>
    <!-- datepicker -->
    <script src="@Url.Content("~/Content/plugins/datepicker/bootstrap-datepicker.js")"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="@Url.Content("~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")"></script>
    <!-- Slimscroll -->
    <script src="@Url.Content("~/Content/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/plugins/fastclick/fastclick.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/dist/js/app.min.js")"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="@Url.Content("~/Content/dist/js/pages/dashboard.js")"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/dist/js/demo.js")"></script>
</body>
</html>
