﻿@model UPC.web.ViewModels.AddComunIntViewModel
@{
    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    ViewBag.Title = "Correos";    
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Listar Correos";
}
@section Breadcrumbs{

    <li>
        <a href="@Url.Action("ListarAnuncios_EMP",new { id = objUsuario.usuarioID })">Listar Comunicacion Interna</a>
    </li>
}
  <!-- quick email widget -->
<div class="box box-info">
    <div class="box-header">
        <i class="fa fa-envelope"></i>
        <h3 class="box-title">Quick Email</h3>
       
        <!-- /. tools -->
    </div>
    <div class="box-body">
        <form role="form" method="post" action="@Url.Action("AddCorreo", new { Id = objUsuario.usuarioID })">            
            <div class="form-group">
                <label>Para:</label>
                @Html.DropDownListFor(x => x.RemitenteID, Model.Usuarios, "Selecciona Usuario", new { @class = "form-control" })                
            </div>
            <div class="form-group">
                <label>Asunto:</label>
                @Html.TextBoxFor(x => x.Asunto, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Descripccion:</label>
                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control" })
            </div>        
            <div class="box-footer clearfix">
                <button type="submit" class="pull-right btn btn-default" id="sendEmail">
                    Send
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>   
        </form>
    </div>   
</div>

