﻿@model UPC.web.ViewModels.AddComunIntViewModel
@{
    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    ViewBag.Title = "Anuncios";
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Listar Anuncios";
}
@section Breadcrumbs{

    <li>
        <a href="@Url.Action("ListarAnuncios_EMP",new { id = objUsuario.usuarioID })">Listar Comunicacion Interna</a>
    </li>
}
<div class="box box-info">
    <div class="box-header">
        <i class="fa fa-envelope"></i>
        <h3 class="box-title">Comunicacion Interna</h3>
        <!-- tools box -->
        
        <!-- /. tools -->
    </div>
    <div class="box-body">
        <form role="form" method="post" action="@Url.Action("AddComuInt", new { Id = objUsuario.usuarioID })">
            <div class="form-group">
                <label>Tipo de Anuncio:</label>
                @Html.DropDownListFor(x => x.tipo_anuncioID, Model.TipoAnuncio, "Selecciona Anuncio", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Asunto:</label>
                @Html.TextBoxFor(x => x.Asunto, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Descripccion:</label>
                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control" })
            </div>
            <div class="box-footer clearfix">
                <button type="submit" class="pull-right btn btn-default" id="sendEmail">
                    Send
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </form>
    </div>
</div>

