﻿@model UPC.web.ViewModels.AddEditInforme_LaborViewModel
@{
    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    ViewBag.Title = "Administrar Informe Labor";
    ViewBag.Subtitle = Model.Informe_LaborId.HasValue ? "Editar" : "Agregar";
    ViewBag.Section = "Informe Labor";
}
@section Breadcrumbs{

    <li>
        <a href="@Url.Action("ListarInformes_labor",new { id=objUsuario.usuarioID})">Informes Labor</a>
    </li>
}
<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="post" action="@Url.Action("AddEditInforme_Labor", new { Id=objUsuario.usuarioID})">
        <div class="box-body">
            @Html.HiddenFor(x=>x.Informe_LaborId)
            <div class="form-group">
                <label>Labor</label>
                @Html.DropDownListFor(x => x.LaborID, Model.Labores, "Selecciona Labor", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Empleado</label>
                @Html.DropDownListFor(x => x.Persona_calificadaId, Model.Empleados, "Selecciona un Empleado", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Puntos</label>
                @Html.TextBoxFor(x => x.puntos_asignados, new { @class = "form-control",@type="number" })
            </div>
            <div class="form-group">
                <label>Comentario</label>
                @Html.TextBoxFor(x => x.comentario, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Fecha Culminado</label>
                @Html.TextBoxFor(x => x.fecha_culminacion, new { @class = "form-control", @type = "date" })
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </form>
</div>

