﻿@model UPC.web.ViewModels.AddInforme360ViewModel
@{
    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    ViewBag.Title = "Agregar Informe360";
    ViewBag.Subtitle = "Agregar";
    ViewBag.Section = "Informe 360";
}
@section Breadcrumbs{

    <li>
        <a href="@Url.Action("ListarEmpl_Pro")">Empleados</a>
    </li>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Labor ID</th>
                            <th>Informe Labor ID</th>
                            <th>Persona Calificada ID</th>
                            <th>Puntos</th>
                            <th>Comentario</th>
                            <th>Fecha Culminado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Empleado in Model.ListaInforme_labor)
                        {
                            <tr>
                                <td>@Empleado.Informe_labor_ID</td>
                                <td>@Empleado.Labores.Descripcion</td>                                
                                <td>@Empleado.persona_calificadaID</td>
                                <td>@Empleado.puntos</td>
                                <td>@Empleado.comentario</td>
                                <td>@Empleado.Fecha_culminado.ToString("dd/mm/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="post" action="@Url.Action("AddInforme360")">
        <div class="box-body">
            @Html.HiddenFor(x => x.UsuarioId)
            @Html.HiddenFor(x=>x.EmpleadoId)
            <div class="form-group">
                <label>Nombre</label>
                @Html.TextBoxFor(x => x.nombre_empleado, new { @class = "form-control disabled"})
            </div>
            <div class="form-group">
                <label>Apellidos</label>
                @Html.TextBoxFor(x => x.apellido_empleado, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Puntos Acumulados</label>
                @Html.TextBoxFor(x => x.puntos_acumulados, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Rendimiento</label>
                @Html.TextAreaFor(x => x.rendimiento, new { @class = "form-control" })
            </div>
           
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </form>
</div>

