﻿@model UPC.web.ViewModels.Dashboard_EMPViewModel
@{
    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    ViewBag.Title = "Dashboard";
    ViewBag.Subtitle = "Principal";
}
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.nPuntos</h3>
                    <p>Puntos Acumulados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-load-d"></i>
                </div>
                <a href="@Url.Action("PuntosAcumulados", new { id = objUsuario.usuarioID })" class="small-box-footer">Ir al Historial de Puntos <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- ./col -->
        <div class="col-lg-12 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.nComunicacion_INT</h3>
                    <p>Comunicacion Interna</p>
                </div>
                <div class="icon">
                    <i class="fa fa-wechat"></i>
                </div>
                <a href="@Url.Action("ListarAnuncios_EMP", new { id = objUsuario.usuarioID })" class="small-box-footer">Historial de Comunicacion Interna<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
        <!-- ./col -->
        <div class="row">

            <div class="col-lg-12 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@Model.nComunicacion_EXT</h3>
                        <p>Comunicacion Externa</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <a href="@Url.Action("ListarEventos_EMP")" class="small-box-footer">Historial de Comunicacion Externa<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    <!-- /.row -->
  
  </section>

