﻿@model UPC.web.ViewModels.Dashboard_ADMViewModel
@{    
    ViewBag.Title = "Dashboard";
    ViewBag.Subtitle = "Principal";   
}
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.nEmpleados</h3>
                    <p>Empleados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
                <a href="@Url.Action("ListarEmpl_ADM")" class="small-box-footer">Ver Empleados<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.nSupervisores</h3>
                    <p>Supervisores</p>
                </div>
                <div class="icon"> 
                    <i class="ion ion-ios-people-outline "></i>
                </div>
                <a href="@Url.Action("ListarSup_ADM")" class="small-box-footer">Ver Supervisores<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        </div>
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.nProveedores</h3>
                    <p>Proveedores</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>
                </div>
                <a href="@Url.Action("ListarPro_ADM")" class="small-box-footer">Ver Proveedores<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.nAdmins</h3>
                    <p>Administradores</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-contacts"></i>
                </div>
                <a href="@Url.Action("ListarAdm_ADM")" class="small-box-footer">Ver Administradores<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
   
</section>