﻿@model UPC.web.ViewModels.Dashboard_PROViewModel
@{
    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    ViewBag.Title = "Dashboard";
    ViewBag.Subtitle = "Principal";
}
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.nUsuariosEmpleados</h3>
                    <p>Empleados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-cube"></i>
                </div>
                <a href="@Url.Action("ListarEmpl_Pro")" class="small-box-footer">Crear Perspectiva 360<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.nPerspectiva</h3>
                    <p>Perspectivas 360</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-clipboard"></i>
                </div>
                <a href="@Url.Action("ListarInformes", new { id = objUsuario.usuarioID })" class="small-box-footer">Ver Perspectivas creadas<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    
    <!-- /.row (main row) -->
</section>


