﻿@model UPC.web.ViewModels.Dashboard_SUPViewModel
@{
    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    ViewBag.Title = "Dashboard";
    ViewBag.Subtitle = "Principal";
}

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.nInformeLabor</h3>
                    <p>Informes Labor</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>
                </div>
                <a href="@Url.Action("ListarInformes_labor",new { id=objUsuario.usuarioID})" class="small-box-footer">Ver Informes creados<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

        <div class="row">
            <!-- ./col -->
            <div class="col-lg-12 col-xs-8">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.nPerspectiva360</h3>
                        <p>Perspectivas 360</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cube"></i>
                    </div>
                    <a href="@Url.Action("ListarEmpl_SUP")" class="small-box-footer">Ver Perspectivas 360<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>

            <div class="row">
                <!-- ./col -->
                <div class="col-lg-12 col-xs-8">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>@Model.nMaestrosEmpleados</h3>
                            <p>Maestros Empleados</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-contact"></i>
                        </div>
                        <a href="@Url.Action("ListarEmpl_SUP")" class="small-box-footer">Ver Maestros Empleados<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
  
</section>

