﻿@model UPC.web.ViewModels.AddInforme360ViewModel
@{
    ViewBag.Title = "Empleados";
    ViewBag.Section = "Detalle";
    ViewBag.Subtitle = "Detalle informe360";
}
@section Breadcrumbs{

    <li>
        <a href="@Url.Action("ListarEmpl_SUP")">Empleados</a>
    </li>
}
<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->   
        <div class="box-body">           
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" value="@Model.nombre_empleado" id="Nombre" disabled/>
            </div>
            <div class="form-group">
                <label for="Apellidos">Apellidos</label>
                <input type="text" class="form-control" value="@Model.apellido_empleado" disabled />
            </div>
            <div class="form-group">
                <label for="Categoria">Categoria</label>
                <input type="text"class="form-control"value="@Model.nombre_categoria"  id="Categoria" disabled />
            </div>
            <div class="form-group">
                <label for="Acumulados">Puntos Acumulados</label>
                <input type="text" class="form-control" value="@Model.puntos_acumulados" id="Acumulados" disabled />
            </div>
            <div class="form-group">
                <label for="Rendimiento">Rendimiento</label>
                <textarea rows="5" class="form-control" id="Rendimiento" disabled >     
                    @Model.rendimiento;  
                </textarea>         
            </div>
            <div class="form-group">
                <label for="Ultima_actualizacion">Ultima actualizacion</label>
                <input type="text" class="form-control" value="@Model.ultima_actulizacion" id="Ultima_actualizacion" disabled />
            </div>

        </div>
        <!-- /.box-body -->
    @if (Model.CategoriaID == 1)
    {
        <div class="box-footer">
            <a href="@Url.Action("Promover_Empleado", new { id = Model.EmpleadoId })" class="btn btn-success" role="button">Promover</a>      
        </div>
    }
    else
    {
        <div class="box-footer">
            <a href="@Url.Action("Degradar_Empleado", new { id = Model.EmpleadoId })" class="btn btn-danger" role="button">Degradar</a>
        </div>
    }


</div>

