﻿@model UPC.web.ViewModels.ListarComuIntViewModel
@{   
    ViewBag.Title = "Listar Anuncios";
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Anuncios";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>anuncioID</th>
                            <th>Autor</th>
                            <th>remitenteID</th>
                            <th>Asunto</th>
                            <th>Descripcion</th>
                            <th>Fecha de Publicacion</th>
                            <th>Tipo de Anuncio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var anuncio in Model.ListAnuncios)
                        {
                            <tr>
                                <td>@anuncio.anuncioID</td>
                                <td>@anuncio.Usuario.nombre</td>
                                @if (@anuncio.remitenteID == null)
                                {
                                    <td><span class="label label-danger">No Tiene</span></td>                                    
                                }
                                else
                                {
                                    <td>@anuncio.remitenteID</td>
                                }         
                                <td>@anuncio.Asunto</td>
                                <td>@anuncio.Descripcion</td>
                                <td>@anuncio.fecha_publicacion.ToString("dd/MM/yyyy")</td>
                                <td>@anuncio.Tipo_anuncio.nombre_tipo</td>                                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <br />
        <a class="btn btn-primary" href="@Url.Action("AddComuInt")">
            <i class="fa fa-plus"></i>&nbsp;Agregar Anuncio
        </a>
    </div>
</div>

