﻿@model UPC.web.ViewModels.ListarTrabajadoresViewModel
@{
    ViewBag.Title = "Empleados";
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Listar Trabajadores";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.ListEmpleados)
                        {
                            <tr>
                                <td>@usuario.usuarioID</td>
                                <td>@usuario.nombre</td>
                                <td>@usuario.apellidos</td>
                                <td>@usuario.fecha_Nacimiento.ToString("dd/MM/yyyy")</td>
                                @if (@usuario.categoriaID == 1)
                                {
                                    <td><span class="label label-success">@usuario.Categoria.nombre_Categoria</span></td>
                                    <td>
                                        <a class="btn" href="@Url.Action("DetalleInforme360_Sup", new { id = usuario.usuarioID })">
                                            <i class="fa fa-edit"></i>&nbsp; Detalle Infrome360
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn" href="@Url.Action("Promover_Empleado", new { id = usuario.usuarioID })">
                                            <i class="fa fa-edit"></i>&nbsp; Promover
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">@usuario.Categoria.nombre_Categoria</span></td>
                                    <td>
                                        <a class="btn" href="@Url.Action("Degradar_Empleado", new { id = usuario.usuarioID })">
                                            <i class="fa fa-edit"></i>&nbsp; Degradar
                                        </a>
                                    </td>                               
                                }    
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <br />
        <a class="btn btn-primary" href="@Url.Action("AddEditTrabajador")">
            <i class="fa fa-plus"></i>&nbsp;Agregar Empleado
        </a>
    </div>
</div>

