﻿@model UPC.web.ViewModels.ListarComuExtViewModel
@{    
    ViewBag.Title = "Eventos";
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Listar Eventos";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Evento</th>
                            <th>Local</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var evento in Model.ListEventos)
                        {
                            <tr>
                                <td>@evento.Eventos.nombre_evento</td>
                                <td>@evento.Local.nombre</td>                               
                                <td>@evento.descripcion</td>
                                <td>@evento.fecha.ToString("dd/MM/yyyy")</td>                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <br />      
    </div>
</div>

