﻿@model UPC.web.ViewModels.ListarInformes_laborViewModel
@{

    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    ViewBag.Title = "Informes Labor";
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Informes Labor";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Hover Data Table</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form role="form" method="post" action="@Url.Action("ListarInformes_labor", new { Id = objUsuario.usuarioID})">

            <div class="form-group col-sm-6">
                <label>Date:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(x => x.Rango1, new { @class = "form-control pull-right", @type = "date" })
                </div>
                <!-- /.input group -->
            </div>
            <div class="form-group col-sm-6">
                <label>Date:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(x => x.Rango2, new { @class = "form-control pull-right", @type = "date" })
                </div>
                <!-- /.input group -->
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Informe Labor ID</th>
                    <th>Labor</th>
                    <th>Supervisor ID</th>
                    <th>Puntos</th>
                    <th>Comentario</th>
                    <th>Empleado ID</th>
                    <th>Fecha culminado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trabajo in Model.ListaInformes)
                {
                    <tr>
                        <td>@trabajo.Informe_labor_ID</td>
                        <td>@trabajo.Labores.Descripcion </td>
                        <td>@trabajo.Usuario.nombre </td>
                        <td> @trabajo.puntos </td>
                        <td>@trabajo.comentario</td>
                        <td> @trabajo.persona_calificadaID </td>
                        <td>@trabajo.Fecha_culminado.ToString("dd/MM/yyyy") </td>
                        <td>
                            <a class="btn" href="@Url.Action("AddEditInforme_Labor", new { Informe_laborId = trabajo.Informe_labor_ID,Id = objUsuario.usuarioID })">
                               <i class="fa fa-edit"></i>&nbsp; Editar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <!-- /.box -->
    
        <br />
        <a class="btn btn-primary" href="@Url.Action("AddEditInforme_Labor")">
            <i class="fa fa-plus"></i>&nbsp;Agregar Informe Labor
        </a>
  
</div>

