﻿@model UPC.web.ViewModels.ListarInformes360ViewModel
@{
    ViewBag.Title = "Informes creados";
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Listar Informes";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Calificador</th>
                            <th>Calificado</th>
                            <th>Puntos</th>
                            <th>Rendimiento</th>
                            <th>Fecha de creacion</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var informe in Model.ListarInfromes)
                        {
                            <tr>
                                <td>@informe.Usuario.nombre</td>
                                <td>@informe.persona_calificadaID</td>
                                <td>@informe.puntos_acumulados</td>
                                <td>@informe.rendimiento</td>
                                <td>@informe.ultima_actualizacion.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a class="btn" href="@Url.Action("EliminarInforme360", new { InformeId = @informe.informe360ID })">
                                        <i class="fa fa-edit"></i>&nbsp; Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <br />
    </div>
</div>
