﻿@model UPC.web.ViewModels.ListarTrabajadoresViewModel
@{
    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    ViewBag.Title = "Crear Informe360";
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Listar empleados";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Empleado ID</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Categoria</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.ListEmpleados)
                        {
                            <tr>
                                <td>@usuario.usuarioID</td>
                                <td>@usuario.nombre</td>
                                <td>@usuario.apellidos</td>
                                @if (usuario.categoriaID == 1)
                                {
                                <td><label class="label label-success">@usuario.Categoria.nombre_Categoria</label></td>
                                }
                                else
                                {

                                    <td><label class="label label-danger">@usuario.Categoria.nombre_Categoria</label></td>
                                }
                                @if (usuario.categoriaID == 1)
                                {
                                <td>
                                     <a class="btn" href="@Url.Action("AddInforme360", new { ProveedorId = objUsuario.usuarioID, EmpleadoId = usuario.usuarioID })">
                                        <i class="fa fa-edit"></i>&nbsp; Crear Informe 360
                                     </a>
                                </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <br />
    </div>
</div>


