﻿@model UPC.web.ViewModels.ListarComuExtViewModel
@{
    ViewBag.Title = "Cumpleaños";   
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Listar Cumpleaños";
}

<h2>ListarCUmpleaños</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Fecha de cumpleaños</th>
                      
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cumple in Model.Cumpleaños)
                        {
                            <tr>
                                <td>@cumple.nombre</td>
                                <td>@cumple.Categoria.nombre_Categoria</td>
                                <td>@cumple.fecha_Nacimiento.ToString("dd - MMMM ")</td>                            
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <br />
    </div>
</div>