﻿@model UPC.web.ViewModels.ListarTrabajadoresViewModel
@{
    ViewBag.Title = "Supervisores";
    ViewBag.Section = "Listar";
    ViewBag.Subtitle = "Listar Trabajadores";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Esatdo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.ListSupervisores)
                        {
                            <tr>
                                <td>@usuario.usuarioID</td>
                                <td>@usuario.nombre</td>
                                <td>@usuario.apellidos</td>
                                <td>@usuario.fecha_Nacimiento.ToString("dd/MM/yyyy")</td>
                                @if (@usuario.estado != "INA")
                                {
                                    <td><span class="label label-success">@usuario.estado</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">@usuario.estado</span></td>
                                }     
                                <td>
                                    <a class="btn" href="@Url.Action("AddEditTrabajador", new { UsuarioId = usuario.usuarioID })">
                                        <i class="fa fa-edit"></i>&nbsp; Editar
                                    </a>

                                </td>
                                <td>
                                    <a class="btn" href="@Url.Action("EliminarUsuario", new { UsuarioId = usuario.usuarioID })">
                                        <i class="fa fa-edit"></i>&nbsp; Eliminar
                                    </a>
                                </td>            
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <br />
        <a class="btn btn-primary" href="@Url.Action("AddEditTrabajador")">
            <i class="fa fa-plus"></i>&nbsp;Agregar Supervisor
        </a>
    </div>
</div>