﻿@model UPC.web.ViewModels.PuntosAcumuladosViewModel
@{
    UPC.web.Models.Usuario objUsuario = (UPC.web.Models.Usuario)Session["objUsuario"];
    ViewBag.Title = "Historial de Trabajos";
    
    ViewBag.Section = "Puntos Acumulados";
    ViewBag.Subtitle = "Listar Trabajos";

}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Lista de Puntos</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form role="form" method="post" action="@Url.Action("PuntosAcumulados", new { Id = objUsuario.usuarioID})">
            
            <div class="form-group col-sm-6">
                <label>Fecha Inicio:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(x => x.Rango1, new { @class = "form-control pull-right", @type = "date" })
                </div>
                <!-- /.input group -->
            </div>
            <div class="form-group col-sm-6">
                <label>Fecha Final:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(x => x.Rango2, new { @class = "form-control pull-right", @type = "date" })
                </div>
                <!-- /.input group -->
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Labor</th>
                    <th>Puntos Ganados</th>
                    <th>Comentario</th>
                    <th>Supervisor</th>
                    <th>Fecha culminado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trabajo in Model.ListTrabajos)
                {
                    <tr>
                        <td>@trabajo.Labores.Descripcion</td>
                        <td>@trabajo.puntos </td>
                        <td>@trabajo.comentario </td>
                        <td> @trabajo.usuarioID </td>
                        <td>@trabajo.Fecha_culminado.ToString("dd/MM/yyyy") </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>


