﻿
@{
    ViewBag.Title = "Reporte de Proveedores por Informes360 creados";
}

<!DOCTYPE html>
<html>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="row" align="center">
        <img src="@Url.Action("ChartBoxPlot_Proveedor")" alt="Chart" />
    </div>
   
</body>
</html>

